//kleuren
$purple: #682577;
$purple-light: #e1d8ec;
$purple-dark: #30163a;
$purple-faded: #7b4988;
$yellow-light: #fcf4de;
$yellow-dark: #fde594;
$white: #ffffff;

//fonts
$funnel: 'Funnel Display', sans-serif;
$syne: 'Syne', sans-serif;

//extra
$border-radius-default: 1.25rem;
$border-radius-small: 0.9375rem;
